.container {
	padding-top: 1em;
	border: none;
	width: 95vw;
	min-height: 70vh;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.card-content {
		padding-top: 1em;
		height: 100%;
	}
}
