<div id="stats-container">
	<mat-card>
		<mat-card-header class="header column">
			<mat-card-title>Reportes Estadisticos</mat-card-title>
			<mat-card-subtitle
				>Estos graficos permitiran visualizar de manera
				general.</mat-card-subtitle
			>
			<div class="row">
				<mat-form-field>
					<mat-label>Seleccionar Estatus</mat-label>
					<mat-select
						[(ngModel)]="filters.estatus"
						(selectionChange)="onFilterChange()"
					>
						<mat-option [value]="1">Pendiente</mat-option>
						<mat-option [value]="2">En Curso</mat-option>
						<mat-option [value]="3">Completadas</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field>
					<mat-label>Desde</mat-label>
					<input
						matInput
						[matDatepicker]="picker1"
						[(ngModel)]="filters.initial"
					/>
					<mat-hint>MM/DD/YYYY</mat-hint>
					<mat-datepicker-toggle
						matIconSuffix
						[for]="picker1"
					></mat-datepicker-toggle>
					<mat-datepicker #picker1></mat-datepicker>
				</mat-form-field>

				<mat-form-field>
					<mat-label>Hasta</mat-label>
					<input
						matInput
						[matDatepicker]="picker2"
						[(ngModel)]="filters.final"
						(dateChange)="onFilterChange()"
					/>
					<mat-hint>MM/DD/YYYY</mat-hint>
					<mat-datepicker-toggle
						matIconSuffix
						[for]="picker2"
					></mat-datepicker-toggle>
					<mat-datepicker #picker2></mat-datepicker>
				</mat-form-field>
			</div>
		</mat-card-header>
		<mat-card-content id="stats-content">
			<div id="canvas-1" class="canvas">
				<h4 style="text-align: center; margin-top: 0.2em">
					Asistencias Por Tramo
				</h4>
				<app-dinamyc-chart
					[chartOptions]="tramosChartOptions$"
					[chartType]="'doughnut'"
					[chartData]="tramoChartData$"
				></app-dinamyc-chart>
			</div>

			<div id="canvas-2" class="canvas">
				<h4 style="text-align: center; margin-top: 0.2em">
					Asistencias Por Tipo de Vehículo
				</h4>
				<app-dinamyc-chart
					[chartOptions]="tipoVehiculosChartOptions$"
					[chartType]="'pie'"
					[chartData]="tipoVehiculoChartData$"
				></app-dinamyc-chart>
			</div>

			<div id="canvas-3" class="canvas">
				<h4 style="text-align: center; margin-top: 0.2em">
					Asistencias Por Región
				</h4>
				<app-dinamyc-chart
					[chartOptions]="regionChartOptions$"
					[chartType]="'pie'"
					[chartData]="regionChartData$"
				></app-dinamyc-chart>
			</div>

			<div id="canvas-4" class="canvas">
				<h4 style="text-align: center; margin-top: 0.2em">
					Asistencias Por Provincia
				</h4>
				<app-dinamyc-chart
					[chartOptions]="provinciasChartOptions$"
					[chartType]="'doughnut'"
					[chartData]="provinciaChartData$"
				></app-dinamyc-chart>
			</div>
		</mat-card-content>
	</mat-card>
</div>
