.dialog {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1em;
	.title {
		width: 100%;
		height: auto;
		padding: 0 1em;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		background-color: rgb(231, 231, 231);
		color: rgb(85, 84, 84);
		.row {
			margin-top: -1em;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		h2 {
			margin-top: 1em;
		}
		small {
			margin-top: -1em;
			font-size: -1.5em;
			font-weight: 400;
		}
	}
	.content {
		min-height: 5vh;
		max-height: 45vh;
		width: 100%;
		overflow-y: auto;
		.alert-message {
			border-radius: 0.2em;
			padding: 1.5em auto;
			background-color: rgb(241, 241, 144);
			color: rgb(153, 153, 10);
			font-weight: bold;
			text-align: center;
		}
		.pictures {
			border-radius: 0.5em;
		}
	}

	.actions {
		border-top: 1px solid gainsboro;
		width: 100%;
	}
}
