<h2 mat-dialog-title>Filtro de asistencias por fecha</h2>
<div mat-dialog-content>
	<div class="row">
		<mat-form-field>
			<mat-label>Filtrar Por</mat-label>
			<mat-select [(ngModel)]="filterType">
				<mat-option [value]="0">Todas</mat-option>
				<mat-option [value]="1">Call Center</mat-option>
				<mat-option [value]="2">Agente Campo</mat-option>
				<mat-option [value]="3">Agencia 911</mat-option>
				<mat-option [value]="4">WhatsApp</mat-option>
				<mat-option [value]="5">CallCenter 511</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Desde</mat-label>
			<input
				matInput
				[matDatepicker]="picker1"
				[(ngModel)]="dateFilter.initialDate"
			/>
			<mat-hint>MM/DD/YYYY</mat-hint>
			<mat-datepicker-toggle
				matIconSuffix
				[for]="picker1"
			></mat-datepicker-toggle>
			<mat-datepicker #picker1></mat-datepicker>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Hasta</mat-label>
			<input
				matInput
				[matDatepicker]="picker2"
				[(ngModel)]="dateFilter.finalDate"
			/>
			<mat-hint>MM/DD/YYYY</mat-hint>
			<mat-datepicker-toggle
				matIconSuffix
				[for]="picker2"
			></mat-datepicker-toggle>
			<mat-datepicker #picker2></mat-datepicker>
		</mat-form-field>
		<button mat-raised-button color="accent" (click)="generateReport()">
			Generar Reporte
		</button>
	</div>
</div>
