form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	width: 90%;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
	mat-form-field {
		flex-grow: 1;
	}
}

.row-start {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1em;
	.date-field {
		flex-grow: 1;
	}
	mat-radio-group {
		flex-grow: 2;
	}
	mat-form-field {
		flex-grow: 1;
	}
}
