<div mat-dialog-title>
	<h2>Cambiar contraseña</h2>
	<small>ID: {{ data.userId }} | Usuario: {{ data.username }}</small>
</div>
<mat-divider></mat-divider>
<div mat-dialog-content>
	<mat-form-field appearance="fill" style="width: 100%">
		<mat-label>Contraseña</mat-label>
		<input
			matInput
			placeholder="contraseña"
			[(ngModel)]="credentials.newPassword"
		/>
	</mat-form-field>
</div>
<div
	mat-dialog-actions
	style="
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: 1em;
	"
>
	<button mat-raised-button mat-dialog-close>Cerrar</button>
	<button
		mat-raised-button
		color="accent"
		cdkFocusInitial
		(click)="saveChanges()"
		mat-dialog-close
	>
		Guardar Cambios
	</button>
</div>
