.row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-self: center;
	gap: 1em;
}

.print-btn {
	margin-top: 1.5em;
	color: rgb(12, 80, 12);
	background-color: rgb(125, 214, 125);
}

.enCurso {
	background-color: rgb(240, 181, 181);
}

.pendiente {
	background-color: rgb(250, 250, 155);
}

.completada {
	background-color: rgb(171, 240, 171);
}
