.row {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 1em;
}

.filter {
	width: 100%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
	background-color: white !important;
}

.mat-row {
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	.alert {
		width: 100%;
		padding: 1em;
		border-radius: 0.5em;
		background-color: rgb(255, 255, 188);
		color: gray;
		font-weight: 500;
	}
}

.table {
	height: 35vh;
	overflow-y: auto;
}

.edit-icon {
	color: rgb(69, 209, 69);
}
.trash-icon {
	color: rgb(235, 79, 79);
}
