<mat-stepper
	[linear]="hasPersonInformation"
	*ngIf="ciudadanoForm && vehiculoForm && asistenciaForm"
>
	<!-- Informacion ciudadano -->

	<mat-step [stepControl]="ciudadanoForm" label="Información ciudadano">
		<div class="hasDataAlert">
			<span>
				<mat-slide-toggle
					[checked]="hasPersonInformation"
					[(ngModel)]="hasPersonInformation"
				>
				</mat-slide-toggle>
				La persona acepto brindar su información:
				{{ hasPersonInformation ? 'Si' : 'No' }}
			</span>
		</div>

		<form [formGroup]="ciudadanoForm">
			<!-- <ng-template matStepLabel>Informacion del ciudadano</ng-template> -->
			<div class="row">
				<mat-form-field style="width: 40%">
					<mat-label>Identificación</mat-label>
					<input matInput formControlName="identificacion" />
					<mat-hint
						*ngIf="
							ciudadanoForm.controls['identificacion'].invalid &&
							ciudadanoForm.controls['identificacion'].touched
						"
						>Debe tener 11 números como mínimo.</mat-hint
					>
				</mat-form-field>
				<mat-form-field style="width: 40%">
					<mat-label>Nombre</mat-label>
					<input matInput formControlName="nombre" />
				</mat-form-field>
				<mat-form-field style="width: 40%">
					<mat-label>Apellido</mat-label>
					<input matInput formControlName="apellido" />
				</mat-form-field>
			</div>

			<div class="row-start">
				<fieldset style="width: 40%">
					<legend>Escoger Sexo</legend>
					<mat-radio-group
						required
						aria-label="Select an option"
						formControlName="genero"
					>
						<mat-radio-button value="1" style="width: 20%"
							>Hombre</mat-radio-button
						>
						<mat-radio-button value="2" style="width: 20%"
							>Mujer</mat-radio-button
						>
					</mat-radio-group>
				</fieldset>
				<div class="col">
					<mat-checkbox
						formControlName="esExtranjero"
						style="margin-top: 1.5em"
						>Extranjero</mat-checkbox
					>
					<mat-form-field style="width: 100%">
						<mat-label>Telefono</mat-label>
						<input matInput formControlName="telefono" />
						<mat-hint
							*ngIf="
								ciudadanoForm.controls['telefono'].invalid &&
								ciudadanoForm.controls['telefono'].touched
							"
							>El teléfono debe tener 10 números como
							mínimo.</mat-hint
						>
					</mat-form-field>
				</div>
			</div>
			<button
				style="width: 100%; margin-top: 1em"
				mat-raised-button
				color="accent"
				matStepperNext
			>
				Siguiente
			</button>
		</form>
	</mat-step>

	<!-- Informacion Vehiculo -->

	<mat-step [stepControl]="vehiculoForm" label="Información vehiculo">
		<form [formGroup]="vehiculoForm">
			<div class="row-start">
				<mat-form-field
					appearance="fill"
					style="width: 40%"
					(click)="_cache.getData('VehiculoTipo')"
				>
					<mat-label>Tipo vehiculo (opcional)</mat-label>
					<mat-select formControlName="vehiculoTipoId" #tipoId>
						<mat-option
							[value]="item.id"
							*ngFor="let item of _cache.vehiculoTipos$ | async"
						>
							{{ item.nombre }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field
					appearance="fill"
					style="width: 40%"
					(click)="_cache.getData('VehiculoColores')"
				>
					<mat-label>Color (opcional)</mat-label>
					<mat-select formControlName="vehiculoColorId">
						<mat-option
							[value]="item.id"
							*ngFor="let item of _cache.vehiculoColor$ | async"
						>
							{{ item.nombre }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="row">
				<mat-form-field
					appearance="fill"
					style="width: 40%"
					(click)="_cache.getData('VehiculoMarca')"
				>
					<mat-label>Marca (opcional)</mat-label>
					<mat-select #marcaId formControlName="vehiculoMarcaId">
						<mat-option
							[value]="item.id"
							*ngFor="
								let item of (
									_cache.vehiculoMarca$ | async
								)?.sort()
							"
						>
							{{ item.nombre }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field
					appearance="fill"
					style="width: 40%"
					(click)="
						_cache.getDataOnIdFilters(
							'VehiculoModelo',
							tipoId.value,
							marcaId.value
						)
					"
				>
					<mat-label>Modelo (opcional)</mat-label>
					<mat-select formControlName="vehiculoModeloId">
						<mat-option
							[value]="item.id"
							*ngFor="
								let item of (
									_cache.vehiculoModelo$ | async
								)?.sort()
							"
						>
							{{ item.nombre }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field style="width: 20%">
					<mat-label>Placa</mat-label>
					<input matInput formControlName="placa" />
				</mat-form-field>
			</div>

			<div class="row">
				<button style="width: 50%" mat-raised-button matStepperPrevious>
					Atras
				</button>
				<button
					style="width: 50%"
					mat-raised-button
					color="accent"
					matStepperNext
				>
					Siguiente
				</button>
			</div>
		</form>
	</mat-step>

	<!-- Informacion Ubicacion -->

	<mat-step [stepControl]="ubicacionForm" label="Información Ubicación">
		<form [formGroup]="ubicacionForm">
			<div class="row">
				<mat-form-field
					appearance="fill"
					style="width: 50%"
					(click)="_cache.getData('provincias')"
				>
					<mat-label>Provincias (opcional)</mat-label>
					<mat-select #provinciasId formControlName="provinciaId">
						<mat-option
							[value]="item.id"
							*ngFor="
								let item of (_cache.provincias$ | async)?.sort()
							"
						>
							{{ item.nombre }}
						</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field
					appearance="fill"
					style="width: 50%"
					(click)="
						_cache.getDataOnId('municipios', provinciasId.value)
					"
				>
					<mat-label>Municipio (opcional)</mat-label>
					<mat-select formControlName="municipioId">
						<mat-option
							[value]="item.id"
							*ngFor="
								let item of (_cache.municipios$ | async)?.sort()
							"
						>
							{{ item.nombre }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="row">
				<button style="width: 50%" mat-raised-button matStepperPrevious>
					Atras
				</button>
				<button
					style="width: 50%"
					mat-raised-button
					color="accent"
					matStepperNext
				>
					Siguiente
				</button>
			</div>
		</form>
	</mat-step>

	<!-- Informacion asistencia -->

	<mat-step [stepControl]="asistenciaForm" label="Información asistencia">
		<div class="row">
			<mat-form-field style="width: 100%">
				<mat-label>Asignar Unidad</mat-label>
				<input
					type="text"
					matInput
					[formControl]="unidadAsignadaId"
					[matAutocomplete]="auto"
				/>
				<mat-autocomplete
					#auto="matAutocomplete"
					[displayWith]="displayFn"
				>
					<mat-option
						[value]="item"
						*ngFor="
							let item of _unidades.unidadeAutocomplete$ | async
						"
					>
						<app-unidad-selector
							[item]="item"
						></app-unidad-selector>
						<mat-divider></mat-divider>
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
		</div>

		<form [formGroup]="asistenciaForm" (ngSubmit)="createAsistencia()">
			<div class="row">
				<mat-form-field appearance="fill" style="width: 50%">
					<mat-label>Categoria Asistencia</mat-label>
					<mat-select #categoriaAsistencia>
						<mat-option [value]="1">Accidente</mat-option>
						<mat-option [value]="2">Asistencia</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field
					appearance="fill"
					style="width: 50%"
					(click)="
						_cache.getDataOnId(
							'TipoAsistencia',
							categoriaAsistencia.value
						)
					"
				>
					<mat-label>Tipo Asistencia</mat-label>
					<mat-select
						formControlName="tipoAsistenciaId"
						[multiple]="true"
					>
						<mat-option
							[value]="item.id"
							*ngFor="let item of _cache.tipoAsistencia$ | async"
						>
							{{ item.nombre }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<mat-form-field style="width: 100%">
				<mat-label>Comentarios</mat-label>
				<textarea
					formControlName="comentarios"
					matInput
					placeholder="comentarios..."
				></textarea>
			</mat-form-field>
			<div class="row">
				<button style="width: 50%" mat-raised-button matStepperPrevious>
					Atras
				</button>
				<button
					type="submit"
					style="width: 50%"
					mat-raised-button
					color="accent"
					[disabled]="!asistenciaForm.valid"
				>
					Terminar
				</button>
			</div>
		</form>
	</mat-step>
</mat-stepper>
