<mat-stepper
	[linear]="hasPersonInformation"
	*ngIf="ciudadanoForm && vehiculoForm && asistenciaForm"
>
	<!-- Informacion ciudadano -->

	<mat-step [stepControl]="ciudadanoForm" label="Información del ciudadano">
		<div class="hasDataAlert">
			<span>
				<mat-slide-toggle
					[checked]="hasPersonInformation"
					[(ngModel)]="hasPersonInformation"
					(change)="setPersonInformationPermission()"
				>
				</mat-slide-toggle>
				La persona acepto brindar su información:
				{{ hasPersonInformation ? 'Si' : 'No' }}
			</span>
		</div>

		<form [formGroup]="ciudadanoForm">
			<!-- <ng-template matStepLabel>Informacion del ciudadano</ng-template> -->
			<div class="row">
				<mat-form-field style="width: 40%">
					<mat-label>Identificación</mat-label>
					<input matInput formControlName="identificacion" />
					<mat-hint
						*ngIf="
							ciudadanoForm.controls['identificacion'].invalid &&
							ciudadanoForm.controls['identificacion'].touched
						"
						>Debe tener 11 números como mínimo.</mat-hint
					>
				</mat-form-field>
				<mat-form-field style="width: 40%">
					<mat-label>Nombre</mat-label>
					<input matInput formControlName="nombre" />
				</mat-form-field>
				<mat-form-field style="width: 40%">
					<mat-label>Apellido</mat-label>
					<input matInput formControlName="apellido" />
				</mat-form-field>
			</div>

			<div class="row-start">
				<fieldset style="width: 40%">
					<legend>Escoger Sexo</legend>
					<mat-radio-group
						required
						aria-label="Select an option"
						formControlName="genero"
					>
						<mat-radio-button value="1" style="width: 20%"
							>Hombre</mat-radio-button
						>
						<mat-radio-button value="2" style="width: 20%"
							>Mujer</mat-radio-button
						>
					</mat-radio-group>
				</fieldset>
				<div class="col">
					<mat-checkbox
						formControlName="esExtranjero"
						style="margin-top: 1.5em"
						>Extranjero</mat-checkbox
					>
					<mat-form-field style="width: 100%">
						<mat-label>Telefono</mat-label>
						<input matInput formControlName="telefono" />
						<mat-hint
							*ngIf="
								ciudadanoForm.controls['telefono'].invalid &&
								ciudadanoForm.controls['telefono'].touched
							"
							>El teléfono debe tener 10 números como
							mínimo.</mat-hint
						>
					</mat-form-field>
				</div>
			</div>
			<button
				style="width: 100%; margin-top: 1em"
				mat-raised-button
				color="accent"
				matStepperNext
			>
				Siguiente
			</button>
		</form>
	</mat-step>

	<!-- Informacion Vehiculo -->

	<mat-step [stepControl]="vehiculoForm" label="Información vehiculo">
		<form [formGroup]="vehiculoForm">
			<div class="row-start">
				<mat-form-field
					appearance="fill"
					style="width: 40%"
					(click)="_cache.getData('VehiculoTipo')"
				>
					<mat-label>Tipo vehiculo</mat-label>
					<mat-select formControlName="vehiculoTipoId" #tipoId>
						<mat-option
							[value]="item.id"
							*ngFor="let item of _cache.vehiculoTipos$ | async"
						>
							{{ item.nombre }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field
					appearance="fill"
					style="width: 40%"
					(click)="_cache.getData('VehiculoColores')"
				>
					<mat-label>Color</mat-label>
					<mat-select formControlName="vehiculoColorId">
						<mat-option
							[value]="item.id"
							*ngFor="let item of _cache.vehiculoColor$ | async"
						>
							{{ item.nombre }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="row">
				<mat-form-field
					appearance="fill"
					style="width: 40%"
					(click)="_cache.getData('VehiculoMarca')"
				>
					<mat-label>Marca</mat-label>
					<mat-select #marcaId formControlName="vehiculoMarcaId">
						<mat-option
							[value]="item.id"
							*ngFor="let item of _cache.vehiculoMarca$ | async"
						>
							{{ item.nombre }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field
					appearance="fill"
					style="width: 40%"
					(click)="
						_cache.getDataOnIdFilters(
							'VehiculoModelo',
							tipoId.value,
							marcaId.value
						)
					"
				>
					<mat-label>Modelo</mat-label>
					<mat-select formControlName="vehiculoModeloId">
						<mat-option
							[value]="item.id"
							*ngFor="let item of _cache.vehiculoModelo$ | async"
						>
							{{ item.nombre }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field style="width: 20%">
					<mat-label>Placa</mat-label>
					<input matInput formControlName="placa" />
				</mat-form-field>
			</div>
			<div class="row">
				<button style="width: 50%" mat-raised-button matStepperPrevious>
					Atras
				</button>
				<button
					style="width: 50%"
					mat-raised-button
					color="accent"
					matStepperNext
				>
					Siguiente
				</button>
			</div>
		</form>
	</mat-step>

	<!-- Informacion asistencia -->

	<mat-step [stepControl]="asistenciaForm" label="Información asistencia">
		<form [formGroup]="asistenciaForm" (ngSubmit)="createAsistencia()">
			<div class="row">
				<mat-form-field
					appearance="fill"
					style="width: 50%"
					(click)="_cache.getData('provincias')"
				>
					<mat-label>Provincia</mat-label>
					<mat-select #provinciaId formControlName="provinciaId">
						<mat-option
							[value]="item.id"
							*ngFor="let item of _cache.provincias$ | async"
							>{{ item.nombre }}</mat-option
						>
					</mat-select>
				</mat-form-field>
				<mat-form-field
					appearance="fill"
					style="width: 50%"
					(click)="
						_cache.getDataOnId('municipios', provinciaId.value)
					"
				>
					<mat-label>Municipio</mat-label>
					<mat-select formControlName="municipioId">
						<mat-option
							[value]="item.id"
							*ngFor="let item of _cache.municipios$ | async"
							>{{ item.nombre }}</mat-option
						>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="row">
				<mat-form-field style="width: 100%">
					<mat-label>Dirección (opcional)</mat-label>
					<input matInput formControlName="direccion" />
				</mat-form-field>
			</div>
			<div class="row">
				<!-- TODO: implement autocomplete -->
				<mat-form-field
					style="width: 50%"
					class="example-full-width"
					appearance="fill"
				>
					<mat-label>Asignar Unidad</mat-label>
					<input
						id="unidadAutoComplete"
						type="text"
						placeholder="Selecciona unidad"
						aria-label="Unidad-Miembro"
						matInput
						formControlName="unidadId"
						#unidad
						(change)="
							_unidades.getUnidadesAutoComplete(unidad.value)
						"
						[matAutocomplete]="auto"
					/>
					<mat-autocomplete
						autoActiveFirstOption
						#auto="matAutocomplete"
						[displayWith]="displayFn"
					>
						<mat-option
							[disabled]="!item.estaDisponible"
							*ngFor="
								let item of _unidades.unidadeAutocomplete$
									| async
							"
							[value]="item"
						>
							<div>
								Den.: {{ item.denominacion }}
								<br />
								<small>Tramo: {{ item.tramo }}</small>
								<br />
								<small>Ficha: {{ item.ficha }}</small>
								<br />
								<div class="row-start">
									Disponibilidad:
									<div
										class="availability"
										[ngClass]="
											item.estaDisponible
												? 'free'
												: 'notFree'
										"
									></div>
								</div>
							</div>
							<mat-divider></mat-divider>
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>

				<mat-form-field appearance="fill" style="width: 20%">
					<mat-label>Categoria Asistencia</mat-label>
					<mat-select #categoriaAsistencia>
						<mat-option [value]="1">Accidente</mat-option>
						<mat-option [value]="2">Asistencia</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field
					appearance="fill"
					style="width: 30%"
					(click)="
						_cache.getDataOnId(
							'TipoAsistencia',
							categoriaAsistencia.value
						)
					"
				>
					<mat-label>Tipo Asistencia</mat-label>
					<mat-select
						formControlName="tipoAsistenciaId"
						[multiple]="true"
					>
						<mat-option
							[value]="item.id"
							*ngFor="let item of _cache.tipoAsistencia$ | async"
						>
							{{ item.nombre }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<mat-form-field style="width: 100%">
				<mat-label>Comentarios</mat-label>
				<textarea
					formControlName="comentarios"
					matInput
					placeholder="comentarios..."
				></textarea>
			</mat-form-field>
			<div class="row">
				<button style="width: 50%" mat-raised-button matStepperPrevious>
					Atras
				</button>
				<button
					type="submit"
					style="width: 50%"
					mat-raised-button
					color="accent"
					[disabled]="!asistenciaForm.valid"
				>
					Terminar
				</button>
			</div>
		</form>
	</mat-step>
</mat-stepper>
