.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.row-start {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1em;
}

fieldset {
	height: 15vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.col {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.hasDataAlert {
	display: row;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: rgb(240, 240, 157);
	padding: 0.3em 0.5em;
	border: none;
	border-radius: 0.5em;
	span {
		display: block;
		font-weight: 500;
		color: rgb(116, 116, 15);
	}
}
