<form style="width: 100%">
	<div class="row">
		<mat-form-field appearance="fill" style="width: 40%">
			<mat-label>Ficha</mat-label>
			<input matInput [formControl]="fichaControl" type="text" />
		</mat-form-field>

		<mat-form-field appearance="fill" style="width: 50%">
			<mat-label>Denominación</mat-label>
			<input
				type="text"
				matInput
				[formControl]="denominacionSelected"
				[matAutocomplete]="auto"
			/>
			<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
				<mat-option
					*ngFor="let option of _cache.denominaciones$ | async"
					[value]="option"
				>
					{{ option.nombre }}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>

		<button
			mat-raised-button
			color="accent"
			[disabled]="!fichaControl.valid"
			style="width: 100%"
			(click)="createUnidad()"
		>
			Crear Unidad
		</button>
	</div>
</form>
