@import url('../styles.scss');

mat-toolbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.mat-toolbar-multiple-rows {
	min-height: 2.5em !important;
}

.mat-toolbar-row {
	height: 1em;
	.logo-div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

mat-toolbar-row {
	display: row;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.loading-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 5px;
	right: 0;
	background: rgba(0, 0, 0, 0.15);
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
}
