<div class="main-container">
	<mat-toolbar color="primary">
		<mat-toolbar-row>
			<div>
				<button
					mat-icon-button
					(click)="sidenav.toggle()"
					*ngIf="_auth.isAuthenticated$ | async"
				>
					<mat-icon>menu</mat-icon>
				</button>
				<span>SiGAV</span>
			</div>

			<div class="links" *ngIf="_auth.userData$ | async as user">
				<a mat-button>
					<button mat-button [matMenuTriggerFor]="afterMenu">
						Usuario: {{ user.usuario }}
					</button>
					<mat-menu #afterMenu="matMenu" xPosition="after">
						<button mat-menu-item (click)="logout()">Salir</button>
					</mat-menu>
				</a>
			</div>
		</mat-toolbar-row>
	</mat-toolbar>
	<!-- menu -->
	<mat-sidenav-container class="sidenav-container">
		<mat-sidenav #sidenav class="sidenav">
			<mat-nav-list
				class="sidenav-list"
				*ngIf="_auth.userData$ | async as user"
			>
				<!-- <a mat-list-item [routerLink]="item" *ngFor="let item of links">
					{{ item | uppercase }}
				</a> -->

				<a mat-list-item [routerLink]="['asistencias']">ASISTENCIAS</a>
				<a
					mat-list-item
					[routerLink]="['unidades']"
					*ngIf="user.esAdministrador"
					>UNIDADES</a
				>
				<a
					mat-list-item
					[routerLink]="['tramos']"
					*ngIf="user.esAdministrador"
					>TRAMOS</a
				>
				<a
					mat-list-item
					[routerLink]="['miembros']"
					*ngIf="user.esAdministrador"
					>MIEMBROS</a
				>
				<a
					mat-list-item
					[routerLink]="['usuarios']"
					*ngIf="user.esAdministrador"
					>USUARIOS</a
				>

				<a
					mat-list-item
					[matMenuTriggerFor]="miscelaneos"
					*ngIf="user.esAdministrador"
					>MISCELANEOS</a
				>
				<mat-menu #miscelaneos xPosition="after" yPosition="below">
					<menu mat-menu-item [routerLink]="['marcas']">Marcas</menu>
					<menu mat-menu-item>Modelos</menu>
				</mat-menu>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content class="sidenav-content">
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
