<div class="main-container">
	<mat-toolbar *ngIf="_auth.isAuthenticated$ | async" color="primary" id="main-toolbar">
		<mat-toolbar-row>
			<div class="logo-div">
				<button mat-icon-button (click)="sidenav.toggle()" *ngIf="_auth.isAuthenticated$ | async">
					<mat-icon>menu</mat-icon>
				</button>
				<span>SiGAV</span>
			</div>

			<div class="links" *ngIf="_auth.userData$ | async as user">
				<button mat-button [matMenuTriggerFor]="afterMenu">Usuario: {{ user.usuario }}</button>
				<mat-menu #afterMenu="matMenu" xPosition="after">
					<button mat-menu-item (click)="logout()">Salir</button>
				</mat-menu>
			</div>
		</mat-toolbar-row>
	</mat-toolbar>

	<mat-sidenav-container class="sidenav-container">
		<mat-sidenav #sidenav class="sidenav">
			<mat-nav-list class="sidenav-list" *ngIf="_auth.userData$ | async as user">
				<ng-container *ngIf="canViewMainMenu(user)">
					<a mat-list-item *ngFor="let item of menuItems; trackBy: trackByRoute" [routerLink]="[item.route]">
						{{ item.label }}
					</a>
				</ng-container>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content class="sidenav-content">
			<router-outlet>
				<div class="loading-container" *ngIf="_spinner.isloading$ | async">
					<mat-spinner mode="indeterminate" color="primary"></mat-spinner>
				</div>
			</router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>