<div mat-dialog-title>
	<h2>
		Editar Asistencia
		<mat-chip style="margin-top: -0.5em">{{
			params.categoria === '1' ? 'Emegencia' : 'Asistencia'
		}}</mat-chip>
	</h2>
	<small>Se haran cambios a la asistencia con ID: {{ params.id }}</small>
</div>
<mat-divider></mat-divider>
<div class="row">
	<h3>
		<b>Miembro:</b> {{ params.miembro }} - <b>Unidad:</b>
		{{ params.denominacion }}
	</h3>
	<mat-chip-listbox style="margin-top: -0.5em">
		<mat-chip *ngFor="let item of params.types">{{ item }}</mat-chip>
	</mat-chip-listbox>
</div>
<div mat-dialog-content class="row" *ngIf="entity$ | async as data; else empty">
	<mat-form-field>
		<mat-label>Identificación</mat-label>
		<input matInput [(ngModel)]="data.identificacion" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Nombre</mat-label>
		<input matInput [(ngModel)]="data.nombre" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Apellido</mat-label>
		<input matInput [(ngModel)]="data.apellido" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Teléfono</mat-label>
		<input matInput [(ngModel)]="data.telefono" />
	</mat-form-field>
	<fieldset>
		<legend>Genero:</legend>
		<mat-radio-group [(ngModel)]="data.genero">
			<mat-radio-button [value]="1">Hombre</mat-radio-button>
			<mat-radio-button [value]="2">Mujer</mat-radio-button>
		</mat-radio-group>
	</fieldset>
	<mat-checkbox color="primary" [(ngModel)]="data.esExtranjero"
		>Es extrajero: {{ data.esExtranjero ? 'Si' : 'No' }}</mat-checkbox
	>
	<mat-form-field>
		<mat-label>Tipo Vehículo</mat-label>
		<mat-select #tipo [(ngModel)]="data.vehiculoTipoId">
			<mat-option
				[value]="item.id"
				*ngFor="let item of _cache.vehiculoTipos$ | async"
				>{{ item.nombre }}</mat-option
			>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Color</mat-label>
		<mat-select [(ngModel)]="data.vehiculoColorId">
			<mat-option
				[value]="item.id"
				*ngFor="let item of _cache.vehiculoColor$ | async"
				>{{ item.nombre }}</mat-option
			>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Marca</mat-label>
		<mat-select #marca [(ngModel)]="data.vehiculoMarcaId">
			<mat-option
				[value]="item.id"
				*ngFor="let item of _cache.vehiculoMarca$ | async"
				>{{ item.nombre }}</mat-option
			>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Modelo</mat-label>
		<mat-select
			(click)="
				_cache.getDataOnIdFilters(
					'VehiculoModelo',
					tipo.value,
					marca.value
				)
			"
			[(ngModel)]="data.vehiculoModeloId"
		>
			<mat-option
				[value]="item.id"
				*ngFor="let item of _cache.vehiculoModelo$ | async"
				>{{ item.nombre }}</mat-option
			>
		</mat-select>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Placa</mat-label>
		<input matInput [value]="data.placa" [(ngModel)]="data.placa" />
	</mat-form-field>

	<mat-form-field>
		<mat-label>Provincia</mat-label>
		<mat-select #provincia [(ngModel)]="data.provinciaId">
			<mat-option
				[value]="item.id"
				*ngFor="let item of _cache.provincias$ | async"
				>{{ item.nombre }}</mat-option
			>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Municipio</mat-label>
		<mat-select
			(click)="_cache.getDataOnId('municipios', provincia.value)"
			[(ngModel)]="data.municipioId"
		>
			<mat-option
				[value]="item.id"
				*ngFor="let item of _cache.municipios$ | async"
				>{{ item.nombre }}</mat-option
			>
		</mat-select>
	</mat-form-field>

	<fieldset>
		<legend>Categoria</legend>
		<mat-radio-group
			[(ngModel)]="categoriaAsistencia"
			(ngModelChange)="
				_cache.getDataOnId('TipoAsistencia', categoriaAsistencia)
			"
		>
			<mat-radio-button [value]="1">Emergencia</mat-radio-button>
			<mat-radio-button [value]="2">Asistencia</mat-radio-button>
		</mat-radio-group>
	</fieldset>

	<mat-form-field>
		<mat-label>Tipo Asistencias</mat-label>
		<mat-select [(ngModel)]="data.tipoAsistencias" [multiple]="true">
			<mat-option
				[value]="item.id"
				*ngFor="let item of this._cache.tipoAsistencia$ | async"
			>
				{{ item.nombre }}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<fieldset style="width: 100%">
		<legend>Unidad Asistencia</legend>
		<div
			style="
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				gap: 0.5em;
			"
		>
			<mat-form-field *ngIf="iskeepingUnidad; else unidadAutoComplete">
				<mat-label>Unidad (Solo lectura)</mat-label>
				<input
					matInput
					[value]="params.denominacion"
					[readonly]="true"
				/>
			</mat-form-field>

			<ng-template #unidadAutoComplete>
				<mat-form-field appearance="fill">
					<mat-label>Unidad</mat-label>
					<input
						type="text"
						matInput
						[formControl]="unidadSelected"
						[matAutocomplete]="auto"
					/>
					<mat-autocomplete
						#auto="matAutocomplete"
						[displayWith]="displayFn"
					>
						<mat-option
							*ngFor="
								let option of _cache.denominaciones$ | async
							"
							[value]="option"
						>
							{{ option.nombre }}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</ng-template>

			<button mat-raised-button (click)="changeUnidad()">
				Cambiar Unidad
			</button>
		</div>
	</fieldset>

	<br />
	<br />

	<fieldset style="width: 100%">
		<legend>Miembro Asistencia</legend>
		<div
			style="
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				gap: 0.5em;
			"
		>
			<mat-form-field *ngIf="isKeepingMiembro; else miembroAutoComplete">
				<mat-label>Miembro (Solo lectura)</mat-label>
				<input matInput [value]="params.miembro" [readonly]="true" />
			</mat-form-field>

			<ng-template #miembroAutoComplete>
				<mat-form-field appearance="fill">
					<mat-label>Miembro</mat-label>
					<input
						type="text"
						matInput
						[formControl]="miembroSelected"
						[matAutocomplete]="auto"
					/>
					<mat-autocomplete
						#auto="matAutocomplete"
						[displayWith]="displayFn"
					>
						<mat-option
							*ngFor="let option of _cache.miembros$ | async"
							[value]="option"
						>
							{{ option.nombre }}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</ng-template>

			<button mat-raised-button (click)="changeMiembro()">
				Cambiar Miembro
			</button>
		</div>
	</fieldset>

	<mat-form-field>
		<mat-label>Comentarios</mat-label>
		<textarea matInput [(ngModel)]="data.comentario"></textarea>
	</mat-form-field>
</div>

<ng-template #empty>
	<div style="padding: 2em">
		<h2>Cargando...</h2>
		<mat-progress-bar mode="indeterminate"></mat-progress-bar>
	</div>
</ng-template>

<div mat-dialog-actions>
	<button mat-raised-button mat-dialog-close>Cerrar</button>
	<button
		mat-raised-button
		mat-dialog-close
		color="accent"
		(click)="saveChanges()"
	>
		Guardar Cambios
	</button>
</div>
