.content {
	overflow-y: auto;
}

.row {
	width: 100%;
	padding: 0.5em 1em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0.5em;
	flex-wrap: wrap;
	overflow-y: auto;
}

mat-form-field {
	flex-grow: 1;
}

.datetime-fieldset {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1em;
	width: 100%;
	.datetime-info {
		width: 90%;
		padding: 0.5em;
		border-radius: 0.5em;
		margin-left: 1em;
		background-color: rgb(255, 255, 182);
		color: gray;
		font-weight: 600;
	}
}

fieldset {
	margin-top: -1.5em;
}

.actions {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 0.3em;
	margin-top: 1em;
}

mat-form-field {
	flex-grow: 2;
}

.time-input {
	flex-grow: 1;
	margin-top: 2.5em;
	margin-right: 1em;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #ccc;
}
