<div mat-dialog-title>
	<h3>Editar Unidad</h3>
	<p>Den. Actual: {{ params.denominacion }}</p>
</div>
<mat-dialog-content>
	<mat-form-field appearance="fill" style="width: 50%">
		<mat-label>Ficha</mat-label>
		<input matInput [value]="editUnidad.ficha" />
	</mat-form-field>

	<mat-form-field appearance="fill" style="width: 50%">
		<mat-label>Placa</mat-label>
		<input matInput [value]="editUnidad.placa" />
	</mat-form-field>

	<mat-form-field appearance="fill" style="width: 100%">
		<mat-label>Denominación</mat-label>
		<input
			type="text"
			matInput
			[formControl]="selectedDenominacion"
			[matAutocomplete]="auto2"
		/>
		<mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
			<mat-option
				[value]="item"
				*ngFor="let item of _cache.denominaciones$ | async"
				>{{ item.nombre }}</mat-option
			>
		</mat-autocomplete>
	</mat-form-field>

	<button
		mat-raised-button
		color="accent"
		style="width: 100%"
		(click)="editarUnidad()"
		[disabled]="!selectedDenominacion.valid"
	>
		Confirmar
	</button>
</mat-dialog-content>
