<div mat-dialog-title>
	<h3>Editar Unidad</h3>
	<p>Den. Actual: {{ params.denominacion }}</p>
	<small
		>A continuación, tendras acceso a modificar informaciones de las
		unidades y asignar una nueva denomincación a la ficha:
		{{ editUnidad.ficha }}</small
	>
</div>
<hr />
<mat-dialog-content>
	<mat-form-field appearance="fill" style="width: 50%">
		<mat-label>Ficha</mat-label>
		<input
			matInput
			[value]="editUnidad.ficha"
			[(ngModel)]="editUnidad.ficha"
		/>
	</mat-form-field>

	<mat-form-field appearance="fill" style="width: 50%">
		<mat-label>Placa</mat-label>
		<input
			matInput
			[value]="editUnidad.placa"
			[(ngModel)]="editUnidad.placa"
		/>
	</mat-form-field>

	<mat-form-field appearance="fill" style="width: 100%">
		<mat-label>Tipo unidad</mat-label>
		<mat-select
			[value]="editUnidad.tipoUnidadId"
			[(ngModel)]="editUnidad.tipoUnidadId"
		>
			<mat-option
				*ngFor="let item of _cache.tipoUnidades$ | async"
				[value]="item.id"
				>{{ item.nombre }}</mat-option
			>
		</mat-select>
	</mat-form-field>

	<mat-form-field appearance="fill" style="width: 100%">
		<mat-label>Denominación</mat-label>
		<input
			type="text"
			matInput
			[formControl]="selectedDenominacion"
			[matAutocomplete]="auto2"
		/>
		<mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
			<mat-option
				[value]="item"
				*ngFor="let item of _cache.denominaciones$ | async"
				>{{ item.nombre }}</mat-option
			>
		</mat-autocomplete>
	</mat-form-field>

	<button
		mat-raised-button
		color="accent"
		style="width: 100%"
		(click)="editarUnidad()"
		[disabled]="!selectedDenominacion.valid"
	>
		Confirmar
	</button>
</mat-dialog-content>
