/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

$border-red: 2px solid red;

/* ----------- App component ------------ */

.main-container {
	width: 100%;
	min-height: 90vh;
	height: auto;
	overflow-y: auto;
}

.sidenav-container {
	width: 100%;
	height: 89.5vh;
}

.sidenav {
	width: 15%;
}

.sidenav-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: whitesmoke;
}

/* ----------- pages ------------------- */

.page-container {
	width: 100%;
	height: 85vh;
	overflow-y: auto;
}

mat-card {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.filter {
	width: 100%;
}

.table {
	max-height: 35vh;
	overflow-y: auto;
}

.edit-icon {
	color: rgb(69, 209, 69);
}
.trash-icon {
	color: rgb(235, 79, 79);
}
