/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

$border-red: 2px solid red;

/* ----------- App component ------------ */

.main-container {
	width: 100%;
	min-height: 100vh;
	height: auto;
	overflow-y: auto;
}

.sidenav-container {
	width: 100%;
	height: 90vh;
	overflow-y: auto;
}

.sidenav {
	width: 15%;
}

.sidenav-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: whitesmoke;
}

/* ----------- pages ------------------- */

.page-container {
	padding-top: 2em;
	min-width: 80%;
	max-width: 100%;
	height: 85vh;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	mat-card {
		box-shadow: rgba(104, 108, 112, 0.2) 1px 10px 25px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		mat-card-content {
			min-height: 5vh;
			max-height: 60vh;
			min-width: 75vw;
			width: auto;
		}
	}
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
	background-color: transparent !important;
}

.filter {
	width: 100%;
}

.table {
	min-height: 5vh;
	max-height: 40vh;
	overflow-y: auto;
	overflow-x: auto;
}

.table::-webkit-scrollbar {
	width: 10px;
	border: 1px solid rgb(78, 78, 78);
}

.table::-webkit-scrollbar-track {
	background-color: rgb(214, 214, 214);
}

.table::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(26, 26, 26, 0.3);
}

.table::-webkit-scrollbar-button {
	width: 5px;
	background-color: rgb(224, 75, 107);
}
.mat-mdc-table .mdc-data-table__header-row {
	height: 30px !important;
}

.mat-mdc-paginator-container {
	margin-top: 1em;
	min-height: 30px !important;
	max-height: 35px !important;
}

.edit-icon {
	color: rgb(69, 209, 69);
}
.trash-icon {
	color: rgb(235, 79, 79);
}
