.alert {
	width: 90%;
	height: 2em;
	padding: 0.5em;
	background-color: rgb(227, 227, 151);
	border: 2px solid rgb(144, 144, 76);
	border-radius: 0.5em;
}

.row {
	padding-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 0.5em;
	.textField {
		width: 30%;
	}
}

.row-btn {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 1em;
	button {
		flex-grow: 1;
	}
}
