<mat-stepper orientation="vertical" [linear]="!hasPersonInformation" #stepper>
	<!-- Informacion general -->

	<mat-step [stepControl]="generalForm" orientation="vertical">
		<form [formGroup]="generalForm">
			<ng-template matStepLabel>INFORMACIÓN GENERAL</ng-template>
			<div class="row">
				<fieldset>
					<legend>Despacho</legend>
					<mat-radio-group formControlName="despachadaPor">
						<mat-radio-button [value]="1"
							>Sistema Nacional de Emergencias
							911</mat-radio-button
						>
						<mat-radio-button [value]="2">MOPC</mat-radio-button>
					</mat-radio-group>
				</fieldset>
				<mat-form-field style="flex-grow: 1; margin-top: 1em">
					<mat-label>Apoyo Recibido</mat-label>
					<mat-select formControlName="apoyoBrindado">
						<mat-option [value]="0">Ninguna</mat-option>
						<mat-option [value]="1"
							>Unidad de Ambulancia MOPC</mat-option
						>
						<mat-option [value]="2"
							>Unidad de Rescate MOPC</mat-option
						>
					</mat-select>
				</mat-form-field>
				<div class="row-btn">
					<button mat-raised-button matStepperNext color="accent">
						Siguiente
					</button>
				</div>
			</div>
		</form>
	</mat-step>

	<!-- Ubicacion -->

	<mat-step [stepControl]="ubicacionUnidadForm">
		<form [formGroup]="ubicacionUnidadForm">
			<ng-template matStepLabel>INFORMACIÓN UNIDAD</ng-template>
			<div class="row">
				<fieldset style="width: 30%">
					<legend>Zona o Region</legend>
					<mat-radio-group
						formControlName="zona"
						(change)="onZonaSelectionChange()"
					>
						<mat-radio-button [value]="1">Norte</mat-radio-button>
						<mat-radio-button [value]="2">Este</mat-radio-button>
						<mat-radio-button [value]="3">Sur</mat-radio-button>
					</mat-radio-group>
				</fieldset>
				<mat-form-field>
					<mat-label>Provincia</mat-label>
					<mat-select
						formControlName="provinciaId"
						(selectionChange)="onProvinciaSelectionChange()"
					>
						<mat-option
							*ngFor="let item of _cache.provincias$ | async"
							[value]="item.id"
							>{{ item.nombre }}</mat-option
						>
					</mat-select>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Municipio</mat-label>
					<mat-select formControlName="municipioId">
						<mat-option
							*ngFor="let item of _cache.municipios$ | async"
							[value]="item.id"
							>{{ item.nombre }}</mat-option
						>
					</mat-select>
				</mat-form-field>

				<mat-form-field>
					<mat-label>Unidad</mat-label>
					<mat-select
						formControlName="unidadId"
						placeholder="Seleccionar unidad"
					>
						<mat-option
							*ngFor="let item of _cache.unidades$ | async"
							[value]="item.id"
							>{{ item.nombre }}</mat-option
						>
					</mat-select>
				</mat-form-field>

				<div class="row-btn">
					<button mat-raised-button matStepperPrevious>Atras</button>
					<button mat-raised-button matStepperNext color="accent">
						Siguiente
					</button>
				</div>
			</div>
		</form>
	</mat-step>

	<!--- detalles -->

	<!-- <mat-step [stepControl]="cronogramaForm">
		<form [formGroup]="cronogramaForm">
			<ng-template matStepLabel>CRONOGRAMA DE HORAS</ng-template>
			<div class="row">
				<div class="row-btn">
					<button mat-raised-button matStepperPrevious>Atras</button>
					<button mat-raised-button matStepperNext color="accent">
						Siguiente
					</button>
				</div>
			</div>
		</form>
	</mat-step> -->

	<!-- Datos de la asistencia -->

	<mat-step [stepControl]="detalleForm">
		<form [formGroup]="detalleForm">
			<ng-template matStepLabel
				>DETALLE E HISTORIA DE LA SITUACIÓN</ng-template
			>
			<div class="row">
				<div class="row">
					<mat-checkbox formControlName="esEventoCampo"
						>Es evento campo</mat-checkbox
					>
					<mat-checkbox
						formControlName="esEventoEspecial"
						#esEventoEsp
						(change)="onEventoEspecialChange()"
						>Es evento especial</mat-checkbox
					>
				</div>
				<mat-form-field style="width: 100%">
					<mat-label>Detalle de la situación</mat-label>
					<textarea
						matInput
						formControlName="detalleAsistencia"
					></textarea>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Tipo Asistencia</mat-label>
					<mat-select
						formControlName="tipoAsistencia"
						(selectionChange)="onTipoAsistenciaSelectionChange()"
					>
						<mat-option
							*ngFor="let item of tiposAsistencias"
							[value]="item.id"
							>{{ item.nombre }}</mat-option
						>
					</mat-select>
				</mat-form-field>
				<mat-form-field *ngIf="esEventoEspecial">
					<mat-label>Nombre Evento</mat-label>
					<input
						matInput
						formControlName="nombreEventoEspecial"
						[required]="esEventoEspecial"
					/>
				</mat-form-field>
				<div class="row-btn">
					<button mat-raised-button matStepperPrevious>Atras</button>
					<button mat-raised-button matStepperNext color="accent">
						Siguiente
					</button>
				</div>
			</div>
		</form>
	</mat-step>

	<!-- Informacion paciente -->

	<mat-step [stepControl]="datosPacienteForm">
		<ng-template matStepLabel>INFORMACIÓN DEL PACIENTE</ng-template>
		<mat-checkbox
			[checked]="hasPersonInformation"
			[(ngModel)]="hasPersonInformation"
			style="
				width: 100%;
				margin-top: 1em;
				background-color: rgb(247, 247, 165);
				border: 4px solid rgb(183, 183, 58);
				border-radius: 0.5em;
				padding: 0.5em;
			"
			><b>Se tienen los datos del ciudadano:</b>
			{{ hasPersonInformation ? 'Si' : 'No' }}</mat-checkbox
		>
		<form [formGroup]="datosPacienteForm">
			<div class="row">
				<mat-form-field>
					<mat-label>Identificación</mat-label>
					<input
						matInput
						formControlName="identificacion"
						[required]="hasPersonInformation"
					/>
					<mat-hint
						>Cédula o pasaportes (no incluir guiones)</mat-hint
					>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Nombre</mat-label>
					<input
						matInput
						formControlName="nombre"
						[required]="hasPersonInformation"
					/>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Apellido</mat-label>
					<input
						matInput
						formControlName="apellido"
						[required]="hasPersonInformation"
					/>
				</mat-form-field>

				<fieldset>
					<legend>Sexo</legend>
					<mat-radio-group
						formControlName="sexo"
						[required]="hasPersonInformation"
					>
						<mat-radio-button [value]="1"
							>Masculino</mat-radio-button
						>
						<mat-radio-button [value]="2"
							>Femenino</mat-radio-button
						>
					</mat-radio-group>
				</fieldset>

				<mat-form-field>
					<mat-label>Edad</mat-label>
					<input
						matInput
						type="number"
						formControlName="edad"
						[required]="hasPersonInformation"
					/>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Teléfono</mat-label>
					<input
						matInput
						type="tel"
						formControlName="telefono"
						[required]="hasPersonInformation"
					/>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Nacionalidad</mat-label>
					<mat-select
						formControlName="nacionalidadId"
						[required]="hasPersonInformation"
					>
						<mat-option
							*ngFor="let item of _cache.nacionalidades$ | async"
							[value]="item.id"
							>{{ item.nombre }}</mat-option
						>
					</mat-select>
				</mat-form-field>
				<div class="row-btn">
					<button mat-raised-button matStepperPrevious>
						Anterior
					</button>
					<button mat-raised-button matStepperNext color="accent">
						Siguiente
					</button>
				</div>
			</div>
		</form>
	</mat-step>

	<mat-step [stepControl]="datosTrasladoForm">
		<form [formGroup]="datosTrasladoForm">
			<ng-template matStepLabel>ACERCA DEL TRASLADO</ng-template>
			<div class="row">
				<fieldset [style.width]="esTraslado ? '100%' : '20%'">
					<legend>Es Traslado ?</legend>
					<mat-radio-group
						formControlName="esTraslado"
						(change)="onEstrasladoChange()"
					>
						<mat-radio-button [value]="true">Si</mat-radio-button>
						<mat-radio-button [value]="false">No</mat-radio-button>
					</mat-radio-group>
				</fieldset>
				<mat-form-field *ngIf="!esTraslado">
					<mat-label>Causas de Traslado</mat-label>
					<mat-select
						formControlName="causaTraslado"
						[required]="!esTraslado"
					>
						<mat-option [value]="0">NO AMERITA TRASLADO</mat-option>
						<mat-option [value]="1">VICTIMA EN 1-29 </mat-option>
						<mat-option [value]="2"
							>RECHAZO DE ASISTENCIA</mat-option
						>
						<mat-option [value]="3">RECHAZO DE TRASLADO</mat-option>
						<mat-option [value]="4"
							>APOYO A OTRA UNIDAD ALFA MOPC</mat-option
						>
						<mat-option [value]="5">APOYO AL 911</mat-option>
					</mat-select>
				</mat-form-field>
				<div class="row-btn">
					<button mat-raised-button matStepperPrevious>Atras</button>
					<button mat-raised-button matStepperNext color="accent">
						Siguiente
					</button>
				</div>
			</div>
		</form>
	</mat-step>

	<!-- Centro de salud -->

	<mat-step [stepControl]="datosCentroSaludForm">
		<form [formGroup]="datosCentroSaludForm">
			<ng-template matStepLabel>ACERCA DEL CENTRO DE SALUD</ng-template>
			<div class="row">
				<mat-form-field>
					<mat-label>Centro de salud</mat-label>
					<mat-select formControlName="hospitalId">
						<mat-option
							*ngFor="let item of _cache.hospitales$ | async"
							[value]="item.id"
							>{{ item.nombre }}</mat-option
						>
					</mat-select>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Persona Recibio en hospital</mat-label>
					<input
						matInput
						formControlName="personaRecibioEnHospital"
					/>
				</mat-form-field>
				<div class="row-btn">
					<button mat-raised-button matStepperPrevious>Atras</button>
					<button mat-raised-button matStepperNext color="accent">
						Siguiente
					</button>
				</div>
			</div>
		</form>
	</mat-step>

	<!-- Antecedentes morbidos -->

	<mat-step [stepControl]="datosAntecedentesForm">
		<form [formGroup]="datosAntecedentesForm">
			<ng-template matStepLabel>ANTECEDENTES</ng-template>
			<div class="row">
				<fieldset [style.width]="tieneAntecedentes ? '20%' : '100%'">
					<legend>Antecedestes Morbidos</legend>
					<mat-radio-group
						(change)="onAntecedentesChange()"
						formControlName="tieneAntecedentesMorbidos"
					>
						<mat-radio-button [value]="false"
							>Desconocido</mat-radio-button
						>
						<mat-radio-button [value]="true">Otro</mat-radio-button>
					</mat-radio-group>
				</fieldset>
				<mat-form-field
					style="margin-top: -0.5em"
					*ngIf="tieneAntecedentes"
				>
					<mat-label>Detallar antecedentes</mat-label>
					<textarea
						matInput
						formControlName="antecedentesMorbidos"
					></textarea>
				</mat-form-field>
				<div class="row-btn">
					<button mat-raised-button matStepperPrevious>Atras</button>
					<button mat-raised-button matStepperNext color="accent">
						Siguiente
					</button>
				</div>
			</div>
		</form>
	</mat-step>

	<!-- Signos Vitales -->

	<mat-step [stepControl]="signosVitalesForm">
		<form [formGroup]="signosVitalesForm">
			<ng-template matStepLabel>SIGNOS VITALES</ng-template>
			<div class="row">
				<mat-form-field>
					<mat-label>FRECUENCIA CARDIACA (FC)</mat-label>
					<input
						type="number"
						matInput
						formControlName="frecuenciaCardiaca"
					/>
					<mat-hint
						class="help-text good"
						*ngIf="
							signosVitalesForm.controls['frecuenciaCardiaca']
								.value >= 60 &&
							signosVitalesForm.controls['frecuenciaCardiaca']
								.value <= 100 &&
							signosVitalesForm.controls['frecuenciaCardiaca']
								.dirty
						"
						>Rango Normal: 60 a 100
					</mat-hint>
					<mat-hint
						*ngIf="
							signosVitalesForm.controls['frecuenciaCardiaca']
								.value < 60 &&
							signosVitalesForm.controls['frecuenciaCardiaca']
								.dirty
						"
						class="help-text bad"
						>Posible caso de Bradicardia</mat-hint
					>
					<mat-hint
						*ngIf="
							signosVitalesForm.controls['frecuenciaCardiaca']
								.value > 100 &&
							signosVitalesForm.controls['frecuenciaCardiaca']
								.dirty
						"
						class="help-text bad"
						>Posible caso de Taquicardia</mat-hint
					>
				</mat-form-field>

				<mat-form-field>
					<mat-label>FRECUENCIA RESPIRATORIA (FR)</mat-label>
					<input
						type="number"
						matInput
						formControlName="frecuenciaRespiratoria"
					/>
					<mat-hint
						class="help-text good"
						*ngIf="
							signosVitalesForm.controls['frecuenciaRespiratoria']
								.value >= 12 &&
							signosVitalesForm.controls['frecuenciaRespiratoria']
								.value <= 20 &&
							signosVitalesForm.controls['frecuenciaRespiratoria']
								.dirty
						"
						>Rango Normal: 12 a 20</mat-hint
					>
					<mat-hint
						*ngIf="
							signosVitalesForm.controls['frecuenciaRespiratoria']
								.value < 12 &&
							signosVitalesForm.controls['frecuenciaRespiratoria']
								.dirty
						"
						class="help-text bad"
						>Posible caso de Bradipnea</mat-hint
					>
					<mat-hint
						*ngIf="
							signosVitalesForm.controls['frecuenciaRespiratoria']
								.value > 20 &&
							signosVitalesForm.controls['frecuenciaRespiratoria']
								.dirty
						"
						class="help-text bad"
						>Posible caso de Taquipnea</mat-hint
					>
				</mat-form-field>

				<mat-form-field>
					<mat-label>TENSIÓN ARTERIAL SISTOLICA</mat-label>
					<input
						type="number"
						matInput
						formControlName="tensionArterialSistolica"
					/>
					<mat-hint
						class="help-text good"
						*ngIf="
							signosVitalesForm.controls[
								'tensionArterialSistolica'
							].value >= 90 &&
							signosVitalesForm.controls[
								'tensionArterialSistolica'
							].value <= 129 &&
							signosVitalesForm.controls[
								'tensionArterialSistolica'
							].dirty
						"
						>Rango Normal: 90 a 129
					</mat-hint>
					<mat-hint
						*ngIf="
							signosVitalesForm.controls[
								'tensionArterialSistolica'
							].value < 90 &&
							signosVitalesForm.controls[
								'tensionArterialSistolica'
							].dirty
						"
						class="help-text bad"
						>Posible caso de Hipotensión</mat-hint
					>
					<mat-hint
						*ngIf="
							signosVitalesForm.controls[
								'tensionArterialSistolica'
							].value > 129 &&
							signosVitalesForm.controls[
								'tensionArterialSistolica'
							].dirty
						"
						class="help-text bad"
						>Posible caso de Hipertensión</mat-hint
					>
				</mat-form-field>

				<mat-form-field>
					<mat-label>TENSIÓN ARTERIAL DIASTOLICA</mat-label>
					<input
						type="number"
						matInput
						formControlName="tensionArterialDiastolica"
					/>
					<mat-hint
						class="help-text good"
						*ngIf="
							signosVitalesForm.controls[
								'tensionArterialDiastolica'
							].value >= 60 &&
							signosVitalesForm.controls[
								'tensionArterialDiastolica'
							].value <= 84 &&
							signosVitalesForm.controls[
								'tensionArterialDiastolica'
							].dirty
						"
						>Rango Normal: 60 a 84
					</mat-hint>
					<mat-hint
						*ngIf="
							signosVitalesForm.controls[
								'tensionArterialDiastolica'
							].value < 60 &&
							signosVitalesForm.controls[
								'tensionArterialDiastolica'
							].dirty
						"
						class="help-text bad"
						>Posible caso de Hipotensión</mat-hint
					>
					<mat-hint
						*ngIf="
							signosVitalesForm.controls[
								'tensionArterialDiastolica'
							].value > 84 &&
							signosVitalesForm.controls[
								'tensionArterialDiastolica'
							].dirty
						"
						class="help-text bad"
						>Posible caso de Hipertensión</mat-hint
					>
				</mat-form-field>

				<mat-form-field>
					<mat-label>SATURACIÓN PARCIAL DE OXIGENO (SPO2)</mat-label>
					<input
						type="number"
						matInput
						formControlName="saturacionParcialOxigeno"
					/>
					<mat-hint
						class="help-text good"
						*ngIf="
							signosVitalesForm.controls[
								'saturacionParcialOxigeno'
							].value >= 95 &&
							signosVitalesForm.controls[
								'saturacionParcialOxigeno'
							].value <= 100 &&
							signosVitalesForm.controls[
								'saturacionParcialOxigeno'
							].dirty
						"
						>Rango Normal: 95% a 100%</mat-hint
					>
					<mat-hint
						*ngIf="
							signosVitalesForm.controls[
								'saturacionParcialOxigeno'
							].value < 95 &&
							signosVitalesForm.controls[
								'saturacionParcialOxigeno'
							].dirty
						"
						class="help-text bad"
						>Posible caso de Hipoxemia</mat-hint
					>
				</mat-form-field>

				<mat-form-field>
					<mat-label>TEMPERATURA</mat-label>
					<input
						type="number"
						matInput
						formControlName="temperatura"
					/>
					<mat-hint
						class="help-text good"
						*ngIf="
							signosVitalesForm.controls['temperatura'].value >=
								36 &&
							signosVitalesForm.controls['temperatura'].value <=
								37 &&
							signosVitalesForm.controls['temperatura'].dirty
						"
						>Rango Normal: 36.5ºC a 37.2ºC</mat-hint
					>
					<mat-hint
						*ngIf="
							signosVitalesForm.controls['temperatura'].value <
								36 &&
							signosVitalesForm.controls['temperatura'].dirty
						"
						class="help-text bad"
						>Posible caso de Hipotermia</mat-hint
					>
					<mat-hint
						*ngIf="
							signosVitalesForm.controls['temperatura'].value >
								37 &&
							signosVitalesForm.controls['temperatura'].dirty
						"
						class="help-text bad"
						>Posible caso de Fiebre</mat-hint
					>
				</mat-form-field>

				<div class="row-btn">
					<button mat-raised-button matStepperPrevious>Atras</button>
					<button mat-raised-button matStepperNext color="accent">
						Siguiente
					</button>
				</div>
			</div>
		</form>
	</mat-step>

	<!-- Repuesta -->

	<mat-step [stepControl]="respuestaForm">
		<form [formGroup]="respuestaForm">
			<ng-template matStepLabel>SIGNOS VITALES II</ng-template>
			<div class="row">
				<fieldset>
					<legend>LLENADO CAPILAR</legend>
					<mat-radio-group formControlName="llenadoCapilar">
						<mat-radio-button [value]="1"
							>NORMAL - MENOR A 2 SEG.</mat-radio-button
						>
						<mat-radio-button [value]="1"
							>RETRASADO - MAYOR A 2 SEG.</mat-radio-button
						>
					</mat-radio-group>
				</fieldset>
				<fieldset>
					<legend>ECG - APERTURA OCULAR</legend>
					<mat-radio-group formControlName="aperturaOcular">
						<mat-radio-button
							*ngFor="let item of [1, 2, 3, 4]"
							[value]="item"
							><span>{{ item }}</span></mat-radio-button
						>
					</mat-radio-group>
				</fieldset>
				<fieldset>
					<legend>ECG - RESPUESTA VERBAL</legend>
					<mat-radio-group formControlName="respuestaVerbal">
						<mat-radio-button
							*ngFor="let item of [1, 2, 3, 4, 5]"
							[value]="item"
							><span>{{ item }}</span></mat-radio-button
						>
					</mat-radio-group>
				</fieldset>
				<fieldset>
					<legend>ECG - RESPUESTA MOTORA</legend>
					<mat-radio-group formControlName="respuestaMotora">
						<mat-radio-button
							*ngFor="let item of [1, 2, 3, 4, 5, 6]"
							[value]="item"
							><span>{{ item }}</span></mat-radio-button
						>
					</mat-radio-group>
				</fieldset>
				<div class="row-btn">
					<button mat-raised-button matStepperPrevious>Atras</button>
					<button mat-raised-button matStepperNext color="accent">
						Siguiente
					</button>
				</div>
			</div>
		</form>
	</mat-step>

	<!-- Examen fisico -->

	<mat-step [stepControl]="examenFisicoForm">
		<form [formGroup]="examenFisicoForm">
			<ng-template matStepLabel>EXAMEN FÍSICO</ng-template>
			<div class="row">
				<mat-form-field>
					<mat-label>HALLAZGOS POSITIVOS</mat-label>
					<textarea
						matInput
						formControlName="hallazgoPositivo"
					></textarea>
				</mat-form-field>
				<div class="row-btn">
					<button mat-raised-button matStepperPrevious>Atras</button>
					<button mat-raised-button matStepperNext color="accent">
						Siguiente
					</button>
				</div>
			</div>
		</form>
	</mat-step>

	<!-- DIAGNOSTICOS PRESUNTIVOS -->

	<mat-step [stepControl]="diagnosticoPresuntivoForm">
		<form [formGroup]="diagnosticoPresuntivoForm">
			<ng-template matStepLabel>DIAGNOSTICOS PRESUNTIVOS</ng-template>
			<div class="row">
				<mat-form-field>
					<mat-label>DIAGNOSTICOS PRESUNTIVOS</mat-label>
					<textarea
						matInput
						formControlName="diagnosticoPresuntivo"
					></textarea>
				</mat-form-field>
				<mat-form-field>
					<mat-label>procedimientosRealizados</mat-label>
					<textarea
						matInput
						formControlName="procedimientosRealizados"
					></textarea>
				</mat-form-field>
				<div class="row-btn">
					<button mat-raised-button matStepperPrevious>Atras</button>
					<button mat-raised-button matStepperNext color="accent">
						Siguiente
					</button>
				</div>
			</div>
		</form>
	</mat-step>

	<!-- Insumos utilizados -->

	<mat-step [stepControl]="insumosUtilizadosForm">
		<form [formGroup]="insumosUtilizadosForm">
			<ng-template matStepLabel>INSUMOS UTILIZADOS</ng-template>
			<div class="row">
				<mat-form-field>
					<mat-label>INSUMOS/MEDICAMENTOS</mat-label>
					<textarea
						matInput
						formControlName="insumosUtilizados"
					></textarea>
				</mat-form-field>
				<div class="row-btn">
					<button mat-raised-button matStepperPrevious>Atras</button>
					<button mat-raised-button matStepperNext color="accent">
						Siguiente
					</button>
				</div>
			</div>
		</form>
	</mat-step>

	<!-- Personal Asistio -->

	<mat-step [stepControl]="personalAsisteForm">
		<form [formGroup]="personalAsisteForm">
			<ng-template matStepLabel>PERSONAL QUE ASISTE</ng-template>
			<div class="row">
				<mat-form-field>
					<mat-label>Médico</mat-label>
					<mat-select formControlName="medicoId">
						<mat-option
							*ngFor="let item of _cache.miembros$ | async"
							[value]="item.id"
						>
							{{ item.nombre }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Regulador</mat-label>
					<mat-select formControlName="reguladorId">
						<mat-option
							*ngFor="let item of _cache.usuarios$ | async"
							[value]="item.id"
							>{{ item.nombre }}</mat-option
						>
					</mat-select>
				</mat-form-field>
				<div class="row-btn">
					<button mat-raised-button matStepperPrevious>Atras</button>
					<button
						mat-raised-button
						matStepperNext
						color="accent"
						(click)="create()"
					>
						Crear Asistencia
					</button>
				</div>
			</div>
		</form>
	</mat-step>
</mat-stepper>
