.alert {
	width: 90%;
	height: 2em;
	padding: 0.5em;
	background-color: rgb(227, 227, 151);
	border: 2px solid rgb(144, 144, 76);
	border-radius: 0.5em;
}

.row {
	width: 100%;
	padding-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 0.5em;
	mat-form-field {
		min-width: 30%;
		flex-grow: 1;
		margin-top: 1em;
	}
	button {
		width: 30%;
	}
}

.row-btn {
	width: 100%;
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 1em;
	button {
		margin-top: 1.5em;
		flex-grow: 1;
	}
}

.help-text {
	font-weight: 600;
}

.good {
	color: rgb(74, 165, 74);
}

.bad {
	color: rgb(190, 80, 80);
}
